@import url(https://fonts.googleapis.com/css?family=Cinzel);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import 'variables';

.banner-section {
	overflow: hidden;
}
.banner {
	background-color: $sw-black;
	color: $sw-yellow;
	font-size: 5em;
	font-family: 'Cinzel','Roboto', sans-serif;
	padding-left: 0.1em;
}

