// typography
@import url(https://fonts.googleapis.com/css?family=Cinzel);



@import 'variables';


// page components
body {
   	background: url(../images/starsandnebula250.jpg);
  	background-repeat: repeat;  
  	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  
 }






// navigation styles






