@import url(https://fonts.googleapis.com/css?family=Cinzel);
@import 'variables';

.galaxy {
   img: src='../images/sw_galaxy.png';
 }

.mapindex {
	border: 3px solid $sw-lightblue; 
	border-radius: .5em;  
	margin-top: 22em;   
	padding-left: 1em;  
	padding-right: 1em;   
}

.planet {
	color: $sw-tan;  
	font-size: 1.25em;  
	list-style-type: none; 
	display:inline;
	float:left; 	
	margin-top: .2em;  

}

.sphere {
	width: 25px;
	height: 25px;
	border-radius: 25px;
	display:inline;
	float:left; 
	background-color: $sw-tan; 
	margin-top: .2em;
}

.num {
	color: $sw-black;
	font-size: 1.2em;  
	font-weight: bold;  
	width: 25px;
	height: 25px;
	border-radius: 25px;
	display:inline;
	text-align:center; 
	padding: 0 .33em;  
	background-color: $sw-lightblue; 
}


div.sphere {
	margin-right: .4em; 
}


div.two.columns {
	margin-left: 0;  
}

.core {
	color: $sw-black;
	position:absolute;
	background-color: $sw-lightgray;  
	border-radius:.5em;  
	padding: .1em; 
	top: 95%;
	left: 22%;  
}

.hutt {
	color: $sw-black;
	background-color: $sw-lightgray; 
	border-radius:.5em; 
	position:absolute;
	padding: .1em;  
	top: 96%;
	left: 53%;
}

.colonies {
	color: $sw-black;
	background-color: $sw-lightgray; 
	border-radius:.5em; 
	position:absolute;
	padding: .1em; 
	top: 114%;
	left: 22%; 
}

.outer {
	color: $sw-black;
	background-color: $sw-lightgray; 
	border-radius:.5em; 
	position:absolute;
	padding: .1em; 
	top: 175%;
	left: 13%; 
}

.mid {
	color: $sw-black;
	background-color: $sw-lightgray; 
	border-radius:.5em; 
	position:absolute;
	padding: .1em; 
	top: 125%;
	left: 45%; 
}

.expansion {
	color: $sw-black;
	background-color: $sw-lightgray; 
	border-radius:.5em; 
	padding: .1em; 
	position:absolute;
	top: 110%;
	left: 36%; 
}

.inner {
	color: $sw-black;
	background-color: $sw-lightgray; 
	border-radius:.5em; 
	position:absolute;
	padding: .1em; 
	top: 69%;
	left: 30%; 
}

.western {
	color: $sw-black;
	background-color: $sw-lightgray; 
	border-radius:.5em; 
	position:absolute;
	padding: .1em; 
	top: 145%;
	left: 10%; 
}


.routes {
	color: $sw-lightblue;
	font-size: 1.25em;
	font-family: 'Helvetica neue', sans-serif;
	list-style-type: none;
}

.maptitle {
	color: $sw-yellow;
	font-size: 3em;
	font-family: 'Cinzel','Helvetica neue', sans-serif;
	padding-left: 0.1em; 
}

.round {
	width: 25px;
	height: 25px;
	border-radius: 25px;
	background-color: $sw-tan;
}

.link {
	color: transparent;  
	text-decoration: none;  
}

.link:hover {
	color: $sw-white;    
}






