@import url(https://fonts.googleapis.com/css?family=Cinzel);
@import 'variables';

.galaxy {
   img: src='../images/sw_galaxy.png';
 }

.mapindex {
	border: 3px solid $sw-lightblue; 
	border-radius: .5em;  
	margin-top: 18em;   
	padding-left: 1em;  
	padding-right: 1em;   
}

div.two.columns {
	margin-left: 0;  
}

.core {
	color: $sw-black;
	position:absolute;
	top: 95%;
	left: 22%;  
}

.hutt {
	color: $sw-white;
	position:absolute;
	top: 96%;
	left: 53%;
}



.routes {
	color: $sw-lightblue;
	font-size: 1.5em;
	font-family: 'Helvetica neue', sans-serif;
	list-style-type: none;
}

.maptitle {
	color: $sw-yellow;
	font-size: 3em;
	font-family: 'Cinzel','Helvetica neue', sans-serif;
	padding-left: 0.1em; 
}

.round {
	width: 25px;
	height: 25px;
	border-radius: 25px;
	background-color: $sw-white;
}





