@import 'variables';

.rayon{
	background-color: $sw-blue;  
	padding: 2em;
	border-radius: 1em;  
	fieldset{
		width: 50%;
		margin: 0 auto;
		max-width: 15em;
	}

	section.page-login.container {
		margin: 0;  
		padding-bottom: 0;
	}

	section {
		padding-top: 0;  
	}


	input.u-full-width {
		width: 200%;
	}


	input{
		width: 100%;
		background-color: $sw-lightblue;  
	}
	.button-container{
		text-align: right;
		margin-top: 1em;
	}
	.button{
		background-color: $sw-blue;
		color: white;
		margin-right: 1em;
	}

	.choose {
		font-size: 2em;  
	}

	label {
		display: inline;
		float:left;
		width: 50%;
		margin-bottom: 1em;  
	}

	span {
		font-size: 2em;  
	}

	button.button-primary {
		background-color: $sw-mediumblue;  

	}

	button {
		background-color: $sw-mediumblue;
	}

	.close{
		font-size: 10pt;
	}

	footer {
		background-color: $sw-darkgray;
		border-radius: .5em;   
	}


	::-webkit-input-placeholder {
		color: $sw-blue; 
	}

};





