@import 'variables';


.navdiv {
	background-color: $sw-black;
	color: $sw-yellow;
	overflow: hidden;
	width: 100%;
	font-family: 'Helvetica neue', sans-serif;
	margin-bottom: 1em;
}

.nav-link {
	background-color: $sw-black;
	color: $sw-yellow;
	float: right;
	display: inline-block;
	margin-left: 1.5em;
	margin-right: 1em;
	height: 1.5em;
	text-align: center;
	text-decoration: none;
	cursor: pointer;

}

.nav-link:hover {
	color: $sw-blue;
}
.nav-link:active {
	color: $sw-red;
}