@import 'variables';


.planetname {
	font-size: 2em;
	color: $sw-yellow;
}

img.planetpic {
	border:2px solid $sw-lightgray;
	border-radius: .5em;  
}

ul {
	margin-top: 3.25em;  
}

h2, h3 {
	display:inline;
}

h2.category {
	font-size: 1.75em;
	color: $sw-mediumblue;   
}

.data {
	font-size: 1.5em;
	color: $sw-lightblue;
	margin-left: 1em;   
}

form {
	margin-top: 2em;  
}

button {
	background-color: $sw-mediumblue;
}

button:hover {
	background-color: $sw-lightblue;  
}

#singlepost {
	background-color: $sw-lightblue;
	padding: 1em;  
	border-radius: .5em;  
}

.text {
	color: $sw-black;  
}






