@import 'variables';

.planetname {
	font-size: 2em;
	color: $sw-yellow;
}

h2, h3 {
	display:inline;
}

h2.category {
	font-size: 1.75em;
	color: $sw-mediumblue;   
}

.data {
	font-size: 1.5em;
	color: $sw-lightblue;
}






