$color-main-black: #231F20;
$color-main-red: #C01C1B;
$color-main-blue: #264682;
$color-main-white: #FCFCF6;
$color-main-green: #14ED38;
$color-main-yellow: #CCB242;
$color-main-gray-light: #B1A9BA;
$color-maiin-gray-dark: #677088;  
