$sw-black: #231F20;
$sw-red: #C01C1B;
$sw-blue: #264682;
$sw-mediumblue: #1C3562;
$sw-lightblue: #A8B5CD;
$sw-white: #FCFCF6;
$sw-green: #14ED38;
$sw-tan: #A56339; 
$sw-yellow: #CCB242;
$sw-lightgray: #B1A9BA;
$sw-darkgray: #677088;  
